<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.product.entity.SpuSaleAttr">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="baseSaleAttrId" column="base_sale_attr_id" jdbcType="BIGINT"/>
            <result property="saleAttrName" column="sale_attr_name" jdbcType="VARCHAR"/>
            <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.product.entity.SpuSaleAttrValue">
                <id column="vid" property="id"></id>
                <result column="sale_attr_value_name" property="saleAttrName"></result>
                <result column="spu_id" property="spuId"></result>
                <result column="base_sale_attr_id" property="baseSaleAttrId"></result>
                <result column="sale_attr_value_name" property="saleAttrValueName"></result>
            </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,base_sale_attr_id,
        sale_attr_name
    </sql>
    <select id="findSaleAttrListBySpuId" resultMap="BaseResultMap">
        SELECT ssa.id,ssa.spu_id,ssa.base_sale_attr_id,ssa.sale_attr_name,ssav.sale_attr_value_name
        FROM spu_sale_attr ssa LEFT JOIN spu_sale_attr_value ssav
        ON ssa.spu_id = ssav.spu_id AND ssa.base_sale_attr_id = ssav.base_sale_attr_id
        WHERE ssa.spu_id = #{spuId};

    </select>
    <resultMap id="SPU_SALE_ATTR_AND_VALUE_ISCHECKED" type="com.atguigu.gmall.product.entity.SpuSaleAttr" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.product.entity.SpuSaleAttrValue" autoMapping="true">
            <id column="ssavId" property="id"></id>
        </collection>
    </resultMap>
    <select id="findSpuSalAttrAndValueBySkuId" resultMap="SPU_SALE_ATTR_AND_VALUE_ISCHECKED">
        SELECT temp.*,
               CASE WHEN sav.sale_attr_value_id IS NULL THEN '0' ELSE '1' END AS isChecked
        FROM (
                 SELECT ssa.*,
                        ssav.id AS ssavId,
                        ssav.sale_attr_value_name
                 FROM spu_sale_attr ssa
                          LEFT JOIN spu_sale_attr_value ssav ON ssav.spu_id = ssa.spu_id AND ssav.base_sale_attr_id = ssa.base_sale_attr_id
                          JOIN sku_info si ON ssa.spu_id = si.spu_id
                 WHERE si.id = 46
             ) temp
                 LEFT JOIN sku_sale_attr_value sav ON sav.sale_attr_value_id = temp.ssavId AND sav.sku_id = 46
        ORDER BY temp.base_sale_attr_id, temp.ssavId;
    </select>
</mapper>
