<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.product.entity.SpuSaleAttr">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="baseSaleAttrId" column="base_sale_attr_id" jdbcType="BIGINT"/>
            <result property="saleAttrName" column="sale_attr_name" jdbcType="VARCHAR"/>
            <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.product.entity.SpuSaleAttrValue">
                <id column="vid" property="id"></id>
                <result column="sale_attr_value_name" property="saleAttrName"></result>
                <result column="spu_id" property="spuId"></result>
                <result column="base_sale_attr_id" property="baseSaleAttrId"></result>
                <result column="sale_attr_value_name" property="saleAttrValueName"></result>
            </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,base_sale_attr_id,
        sale_attr_name
    </sql>
    <select id="findSaleAttrListBySpuId" resultMap="BaseResultMap">
        SELECT ssa.id,ssa.spu_id,ssa.base_sale_attr_id,ssa.sale_attr_name,ssav.sale_attr_value_name
        FROM spu_sale_attr ssa LEFT JOIN spu_sale_attr_value ssav
        ON ssa.spu_id = ssav.spu_id AND ssa.base_sale_attr_id = ssav.base_sale_attr_id
        WHERE ssa.spu_id = #{spuId};

    </select>
</mapper>
